@tailwind base;
@tailwind components;
@tailwind utilities;

th {
  text-align: left;
}
tbody td {
  /* vertical-align: top; */
  padding-bottom: 1rem;
  padding-top: 0.5rem;
}
tbody tr {
  border-bottom: 1px solid #c4c5c7;
}
